<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: antiquewhite;
      }
      h1 {
        color: rgb(57, 63, 243);
      }
      input {
        border: none;
        padding: 15px 15px;
      }
      button {
        border: none;
        background-color: rgb(131, 135, 237);
        color: aliceblue;
        border-radius: 20px;
        padding: 15px 32px;
        font-size: 16px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME PAGE</title>
  </head>
  <body>
    <h1>URL SHORTENER</h1>
    <% if (locals.id) { %>
    <p>URL Generated : http://localhost:8001/api/url/<%= id %></p>
    <% } %>
    <div>
      <form method="POST" action="/url">
        <label for="">Enter your original URL</label>
        <input type="text" name="url" placeholder="https://www.example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S.No.</th>
          <th>Short ID</th>
          <th>Redirect URL</th>
          <th>No. of Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url,index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>

          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
